.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container button {
    width: 50vh;
    height: 50px;
    border: 1px solid var(--color-green);
    border-radius: 32px;
    text-align: center;
}

.container button:hover {
    cursor: pointer;
    background: #29FF94;
    /* color: white; */
}

.container .qr-code {
    height: 250px;
    width: 250px;
}

.container .qr-code img {
    width: 50px;
    height: 50px;
}

.ldsEllipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .ldsEllipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-green);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .ldsEllipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .ldsEllipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  

.minted {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--color-green);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.minted p {
  text-align: center;
}

.minted .poweredBy {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.75rem;
  color: #010101;
}

.minted .poweredBy a {
  text-decoration: underline;
  color: black;
}

.minted .poweredBy a:hover {
  font-weight: 900;
}

.container {
  background: black;
}

.container .connectButton button {
  width: auto !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  color: var(--color-green);
  border: 0.25px solid seashell;
}

.container .connectButton button:hover {
  cursor: pointer;
  border-color: var(--color-green);
  background: var(--color-green);
  color: black;
}
